/* css styling to go here  */
body{
    background: #eeedec;
    letter-spacing: 0.2em;
    font-size: 0.8em;
}
.container{
    max-width: 300px;
    min-width: 300px;
}

/*.card{
    max-width: 300px;
    min-width: 300px;
} */
.forecastsCard{
    max-width: 100px;
    min-width: 150px;
}
.icon{
    position: relative;
    top: -200px;
    border-radius: 50%;
    width: 100px;
    margin-bottom: -50px;
    z-index: 0;
}
.iconUv{
    position: relative;
    top: -100px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: -50px;
    background-color: white;
}